
<% var cur = public._data[current.path[0]] %>
<% var curClass %>

<tr>
<% switch (current.path[0]) { 
	case "winespectator": %>
	<td id="menu" valign="bottom" background="/images/<%=cur.imagebg %>" height="164">
		<p class="wsmsm">
			<% for(var menu in cur.menu){ %>
				<% if( cur.menu[menu].url == current.source ){ 
			  		curClass = "current"
			  	} else {
			  		curClass = ""
			  	} %>
			  	<a href="/winespectator/<%= cur.menu[menu].url %>.html" class="<%= curClass %>" target="<%= cur.menu[menu].target %>"><%= menu %></a>
			<% }; %>
		</p>
		<% break
	case "cigaraficionado": %>
	<td id="menu" valign="bottom" background="/images/<%=cur.imagebg %>" height="164">
		<p class="camsm">
			<% for(var menu in cur.menu){ %>
				<% if( cur.menu[menu].url == current.source ){ 
			  		curClass = "current"
			  	} else {
			  		curClass = ""
			  	} %>
			 	<a href="/cigaraficionado/<%= cur.menu[menu].url %>.html" class="<%= curClass %>" target="<%= cur.menu[menu].target %>"><%= menu %></a>
			<% }; %>
		</p>
		<% break
	case "marketwatch": %>
	<td id="menu" valign="bottom" background="/images/<%=cur.imagebg %>" height="164">
		<p class="mwmsm">
			<% for(var menu in cur.menu){ %>
				<% if( cur.menu[menu].url == current.source ){ 
			  		curClass = "current"
			  	} else {
			  		curClass = ""
			  	} %>
			  	<a href="/marketwatch/<%= cur.menu[menu].url %>.html" class="<%= curClass %>" target="<%= cur.menu[menu].target %>"><%= menu %></a>
			<% }; %>
		</p>
		<% break
	case "impact": %>
	<td id="menu" valign="bottom" background="/images/<%=cur.imagebg %>" height="164">
		<p class="immsm">
			<% for(var menu in cur.menu){ %>
				<% if( cur.menu[menu].url == current.source ){ 
			  		curClass = "current"
			  	} else {
			  		curClass = ""
			  	} %>
			  	<a href="/impact/<%= cur.menu[menu].url %>.html" class="<%= curClass %>" target="<%= cur.menu[menu].target %>"><%= menu %></a>
			<% }; %>
		</p>
		<% break
	default: %>
	<td id="menu" valign="bottom" height="164">
		<% break
} %>
	</td>
</tr>

